<!DOCTYPE html>
<html lang="en">
<head></head>

<body>

<h1>Twitter Trending Topics</h1>
<%= link_to "India", "articles/new?param1=20.5937&param2=78.9629" %>
<%= link_to "France", "articles/new?param1=46.2276&param2=2.2137" %>
<%= link_to "USA", "articles/new?param1=37.0902&param2=-122.1233" %>




<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKMGG6l9a7q-YGDufOQver7TVrcYvazOA&sensor=false"></script>
<style type="text/css">
.eventtext {width:100%; margin-top:20px; font:10pt Arial; text-align:left; line-height:25px; background-color:#EDF4F8;
padding:5px; border:1px dashed #C2DAE7;}
#mapdiv {width:100%; height:500px; border:5px solid #DEEBF2;}
ul {font:10pt arial; margin-left:0px; padding:5px;}
li {margin-left:0px; padding:5px; list-style-type:decimal;}
.small {font:9pt arial; color:gray; padding:2px; }
#latlongclicked {width:300px; border:1px inset gray;}
</style>


<script type="text/javascript">

var map;
var lat;
var long;
function mapa()
{
  var opts = {'center': new google.maps.LatLng(26.12295, -80.17122), 'zoom':2, 'mapTypeId': google.maps.MapTypeId.ROADMAP }
  map = new google.maps.Map(document.getElementById('mapdiv'),opts);
  
  google.maps.event.addListener(map,'click',function(event) {
    lat = event.latLng.lat();
    long = event.latLng.lng();
    document.getElementById('latlongclicked').value = lat + ', ' + long
    window.open("articles/new?param1="+lat+"&param2="+long)
    
    
    
  });


  google.maps.event.addListener(map,'mousemove',function(event) {
    document.getElementById('latspan').innerHTML = event.latLng.lat()
    document.getElementById('lngspan').innerHTML = event.latLng.lng()
    document.getElementById('latlong').innerHTML = event.latLng.lat() + ', ' + event.latLng.lng()
  });
  
}

window.onload = mapa
</script>


<div>
<div id="mapdiv"></div>
<div class="eventtext">
<div>Lattitude: <span id="latspan"></span></div>

<div>Longitude: <span id="lngspan"></span></div>
<div>Lat Lng: <span id="latlong"></span></div>
<div>Lat Lng on click: 
  <input type="text" id="latlongclicked">
</div>
</div>
</div>

<p>MAP</p>



</body>

</html>
    